version: "3.9"
name: reliability-lab

services:
  kafka-1:
    profiles: ["local-only"]
  kafka-2:
    profiles: ["local-only"]
  kafka-3:
    profiles: ["local-only"]
  schema-registry:
    profiles: ["local-only"]
  kafka-ui:
    profiles: ["local-only"]
  mysql:
    profiles: ["local-only"]
  redis:
    profiles: ["local-only"]

  app-placeholder:
    image: alpine:3.20
    command: ["sh", "-c", "echo LAB_PROFILE=$LAB_PROFILE && sleep 3600"]
    environment:
      LAB_PROFILE: aws
      SPRING_PROFILES_ACTIVE: aws
      KAFKA_BOOTSTRAP_SERVERS: ${KAFKA_BOOTSTRAP_SERVERS:-b-1.example.msk.amazonaws.com:9098}
      KAFKA_SECURITY_PROTOCOL: ${KAFKA_SECURITY_PROTOCOL:-SASL_SSL}
      KAFKA_SASL_MECHANISM: ${KAFKA_SASL_MECHANISM:-AWS_MSK_IAM}
      KAFKA_SASL_JAAS_CONFIG: ${KAFKA_SASL_JAAS_CONFIG:-software.amazon.msk.auth.iam.IAMLoginModule required;}
      KAFKA_SASL_CALLBACK_HANDLER: ${KAFKA_SASL_CALLBACK_HANDLER:-software.amazon.msk.auth.iam.IAMClientCallbackHandler}
      MYSQL_URL: ${MYSQL_URL:-jdbc:mysql://aurora-writer.example.rds.amazonaws.com:3306/lab}
      MYSQL_USER: ${MYSQL_USER:-lab_user}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD:-change-me}
      REDIS_HOST: ${REDIS_HOST:-redis-cluster.example.cache.amazonaws.com}
      REDIS_PORT: ${REDIS_PORT:-6379}
      AWS_REGION: ${AWS_REGION:-us-east-1}
      AWS_PROFILE: ${AWS_PROFILE:-default}
