project_name                = "reliability-lab"
environment                 = "dev"
aws_region                  = "us-east-1"
aws_profile                 = "dev"
vpc_cidr                    = "10.30.0.0/16"
msk_cluster_arn             = "arn:aws:kafka:us-east-1:123456789012:cluster/reliability-lab-dev/xxx"
bootstrap_brokers_sasl_iam  = "b-1.dev:9098,b-2.dev:9098,b-3.dev:9098"
redis_primary_endpoint      = "redis-dev.xxxxxx.use1.cache.amazonaws.com"
aurora_writer_endpoint      = "reliability-dev.cluster-xxxxxx.us-east-1.rds.amazonaws.com"
