project_name               = "reliability-lab"
environment                = "dev"
aws_region                 = "us-east-1"
aws_profile                = "dev"
enable_resource_creation   = false
vpc_cidr                   = "10.30.0.0/16"
availability_zones         = ["us-east-1a", "us-east-1b", "us-east-1c"]
private_subnet_cidrs_app   = ["10.30.0.0/20", "10.30.16.0/20", "10.30.32.0/20"]
private_subnet_cidrs_data  = ["10.30.64.0/20", "10.30.80.0/20", "10.30.96.0/20"]

msk_kafka_version          = "3.6.0"
msk_broker_instance_type   = "kafka.m7g.large"
redis_node_type            = "cache.r7g.large"
redis_parameter_group_name = "default.redis7.cluster.on"
aurora_engine_version      = "8.0.mysql_aurora.3.07.1"
aurora_instance_class      = "db.r7g.large"
aurora_database_name       = "lab"
aurora_master_username     = "lab"
aurora_master_password     = "change-me"

# fallback outputs when enable_resource_creation=false
msk_cluster_arn            = "arn:aws:kafka:us-east-1:123456789012:cluster/reliability-lab-dev/xxx"
bootstrap_brokers_sasl_iam = "b-1.dev:9098,b-2.dev:9098,b-3.dev:9098"
redis_primary_endpoint     = "redis-dev-primary.xxxxxx.use1.cache.amazonaws.com"
redis_reader_endpoint      = "redis-dev-reader.xxxxxx.use1.cache.amazonaws.com"
aurora_writer_endpoint     = "reliability-dev.cluster-xxxxxx.us-east-1.rds.amazonaws.com"
aurora_reader_endpoint     = "reliability-dev.cluster-ro-xxxxxx.us-east-1.rds.amazonaws.com"
vpc_id                     = "vpc-xxxxxxxx"
app_sg_id                  = "sg-appxxxx"
msk_sg_id                  = "sg-mskxxxx"
redis_sg_id                = "sg-redisxxxx"
aurora_sg_id               = "sg-auroraxxxx"
